pip
bump2version
wheel
watchdog
ruff==0.4.1
coverage
Sphinx
twine
sofar
tqdm
pytest
pytest-runner
pytest-cov
numpy<2
scipy
matplotlib
pyfar>0.6
autodocsumm
pydata-sphinx-theme
sphinx-design
sphinx-favicon
sphinx-reredirects
