pip
bump2version
wheel
watchdog
ruff==0.4.1
coverage
Sphinx
twine
sofar
tqdm
pytest
pytest-runner
pytest-cov
numpy
scipy
matplotlib
pyfar
autodocsumm
pydata-sphinx-theme
sphinx-design
sphinx-favicon
sphinx-reredirects
numba
ipykernel
ipympl
watermark
bpy
